{% extends "base.html" %}
<!--
#####################################################################################################################
# Project...............: Yugioh Card Library
# Author................: Ben Stearns
# Date..................: 12-4-25
# Project Description...: This application creates a digital database library for storing and managing Yugioh cards
# File Description......: define the interface for viewing a single card's full information
#####################################################################################################################
-->

{% block body %}
<div class="col">
    {% if card.image_filename %}
    <div class="row mb-3 text-center">
        <img src="/static/images/cards/{{ card.image_filename }}"
             class="img-thumbnail mb-3 mx-auto d-block"
             style="max-width:400px;">
    </div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ card.name }}</td>
            </tr>
            <tr>
                <td>Card Type</td>
                <td>{{ card.card_type }}</td>
            </tr>
            {% if card.monster_type != '' %}
            <tr>
                <td>Monster Type</td>
                <td>{{ card.monster_type }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Description</td>
                <td>{{ card.description }}</td>
            </tr>
            {% if card.card_type == "Monster" %}
            <tr>
                <td>Attack</td>
                <td>{{ card.attack }}</td>
            </tr>
            <tr>
                <td>Defense</td>
                <td>{{ card.defense }}</td>
            </tr>
            <tr>
                <td>Attribute</td>
                <td>{{ card.attribute }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center gap-2 mt-3">
        <a href="{{ url_for('edit_card', card_id=card.id) }}" class="btn btn-info uniform-btn">Edit</a>
        <a href="{{ url_for('confirm_delete', card_id=card.id) }}" class="btn btn-danger uniform-btn">Delete</a>
        <a href="javascript:history.back()" class="btn btn-primary uniform-btn" style="max-width:200px;">Back</a>
    </div>
</div>
{% endblock %}